<div class="container-fluid">
  <header class="pt-5">
    <h1>Formation Angular 13</h1>
    <hr />
  </header>
  <nav class="nav">
    <a class="nav-link" routerLink="/">Accueil</a>
    <a class="nav-link" routerLink="/presentation">Présentation</a>
    <a class="nav-link" routerLink="/todo">Exercice TodoList</a>
    <a class="nav-link" routerLink="/filter">Les filtres</a>
    <a class="nav-link" routerLink="/directive">Les directives</a>
    <a class="nav-link" routerLink="/locale">Les locales</a>
    <a class="nav-link" routerLink="/custom-pipe">Les filtres personnalisés</a>
    <a class="nav-link" routerLink="/formulaire">Formulaire</a>
    <a class="nav-link" routerLink="/inscription">Inscription</a>
    <a class="nav-link" routerLink="/service">Les Services</a>
    <a class="nav-link" routerLink="/observable">Les Observables</a>
    <a class="nav-link" routerLink="/parameters">Les Paramètres d'url</a>
    <a class="nav-link" routerLink="/authentification">Authentification</a>
  </nav>
  <main>
    <app-header></app-header>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <hr />
    <p class="small text-center">Angular 13 - Avril 2022 - Dawan FOAD - CFA CDA</p>
  </footer>
</div>
